html, body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 50vw;
    margin: 0 auto;
    text-align: start;
}

img {
    width: 11vw;
}

header {
    text-align: center;
}

header div {
    height: 5vh;
    background-color: #FFFBF1;
    border-top: 2px solid #FFD977;
    text-align: center;
}

video {
    box-shadow: 4px 4px 4px grey;
    border-radius: 10px;
}